<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @kit.title %>
</p>

<p>
  <strong>Containment:</strong>
  <%= @kit.containment %>
</p>

<p>
  <strong>Price:</strong>
  <%= @kit.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kit.description %>
</p>

<%= link_to 'Edit', edit_kit_path(@kit) %> |
<%= link_to 'Back', kits_path %>
