<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= t "views.patterns.header" %></title>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'patterns', media: 'all', 'data-turbolinks-track' => true %>

</head>

<body>

<p id="notice"><%= notice %></p>

  <div class="container">

    <header class="jumbotron hero-spacer">
      <h1><%= t "views.patterns.header" %></h1>
    </header>
      <div class= "filter">
        <ul class="nav nav-tabs">
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= t "views.filters.sort_by" %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
      </div>
    <div class= "catalog navbar">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#"><%= t "views.filters.all" %></a></li>
        <li role="presentation"><a href="#"><%= t "views.filters.new" %></a></li>
        <li role="presentation"><a href="#"><%= t "views.filters.top_rated" %></a></li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <%= t "views.filters.category" %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
          </ul>
        </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <%= t "views.filters.author" %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        </ul>
      </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <%= t "views.filters.size" %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      </ul>
    </li>
  </ul>
          <div class="row">
            <% @patterns.each do |pattern| %>
              <div class="col-sm-offset-1">
                <div class="panel panel-default col-sm-3">
                    <img src="<%= image_path pattern.image.url(:medium) %>" alt="">
                    <div class="panel-body">
                        <h3><%= pattern.title %></h3> <!-- create new migration for tittle_ru, title_en, do later -->
                        <% if session[:currency] == "RUB" %>
                          <p><%= number_to_currency(pattern.price_rub, :unit => '₽') %></p>
                        <% else %>
                          <p><%= number_to_currency(pattern.price_usd, :unit => '$') %></p>
                        <% end %>

                          <%= link_to t("views.common.show"), pattern, :class => "btn btn-info" %> <%= link_to t("views.common.add_to_cart"), create_pattern_cart_item_path(id: pattern.id), method: 'POST', :class => "btn btn-success" %>
                            <% if current_user.admin? %>
                              <%= link_to t("views.common.edit"), edit_pattern_path(pattern), :class => "btn btn-info" %> <%= link_to t("views.common.destroy"), pattern, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
                            <% end %>
                  </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
<hr>
  <% if current_user.admin? %>
    <div class="new-pattern">
      <%= link_to t("views.patterns.new"), new_pattern_path, :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
</body>
