<p id="notice"><%= notice %></p>

<%= image_tag @pattern.image.url(:medium) %>

<% if I18n.locale == :en %>
<p>
  <strong>Title:</strong>
  <%= @pattern.title_en %>
</p>
<% else %>
<p>
  <strong>Title:</strong>
  <%= @pattern.title_ru %>
</p>
<% end %>
<p>
  <strong>Description:</strong>
  <%= @pattern.description_en %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pattern.description_ru %>
</p>

<% if session[:currency] == "RUB" %>
<p>
  <strong><%= t "views.common.price" %></strong>
  <%= @pattern.price_rub %>
</p>
<% else %>
<p>
  <strong><%= t "views.common.price" %></strong>
  <%= @pattern.price_usd %>
</p>
<% end %>

<p>
  <strong>Designer:</strong>
  <%= @pattern.designer %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pattern.size %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pattern.category %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
