<h1><%= t "views.cart_items.title" %></h1>
  <% if @cart_items.empty? %>
  <p><%= t "views.cart_items.empty" %></p>
  <% else %>
    <%= link_to t("views.cart_items.clear"), clear_cart_cart_items_path(@cart_items) %>
  <% end %>
  <br><br><br>

  <% total = 0 %>
<ul>
  <% @cart_items.each do | cart_item | %>
    <% if cart_item.product.present? %>
          <li>
            <%= link_to cart_item.category %>
            <%= link_to cart_item.product.title, cart_item.product %>
            <p><%= number_to_currency(cart_item.product.price, :unit => '$') %></p> 
            <p>Quantity: <%= cart_item.quantity %></p>
          </li>
          <% total += cart_item.quantity * cart_item.product.price %>
          <%= link_to t("views.cart_items.delete"), cart_item_path(cart_item), method: :delete %>
    <% end %>
  <% end %>

    <p><b><%= t "views.cart_items.total" %> <%= number_to_currency(total, :unit => '$') %></b></p>
</ul>
