<h1>Your Cart</h1>
  <% if @cart_items.empty? %>
  <p>Your cart is currently empty</p>
  <% else %>
    <%= link_to 'Clear Your Cart', nil %>
  <% end %>
  <br><br><br>

  <% total = 0 %>
<ul>
  <% @cart_items.each do | cart_item | %>
    <% product = Product.find(cart_item.product_id) %>
    <% if product.present? %>
      <li>
        <%= link_to product.title, product %>
        <p><%= product.description %></p>
        <p><%= number_to_currency(product.price, :unit => '$') %></p>
        <p>Quantity: <%= cart_item.quantity %></p>
      </li>
        <% total += cart_item.quantity * product.price %>
    <% end %>
  <% end %>

    <p><b>Total: <%= number_to_currency(total, :unit => '$') %></b></p>
</ul>
