<h1><%= t "views.cart_items.title" %></h1>
  <% if @cart_items.empty? %>
  <p><%= t "views.cart_items.empty" %></p>
  <% else %>
    <%= link_to t("views.cart_items.clear"), clear_cart_cart_items_path(@cart_items) %>
  <% end %>
  <br><br><br>

  <% total = 0 %>
<ul>
  <% @cart_items.each do | cart_item | %>
    <% if cart_item.product.present? %>
          <li>
            <%= link_to cart_item.category %>
            <% if I18n.locale == :en %>
              <%= link_to cart_item.product.title_en, cart_item.product %> 
            <% else %>
              <%= link_to cart_item.product.title_ru, cart_item.product %>
            <% end %>
            <% if session[:currency] == "RUB" %>
              <p><%= number_to_currency(cart_item.product.price_rub, :unit => '₽') %></p>
            <% else %>
              <p><%= number_to_currency(cart_item.product.price_usd, :unit => '$') %></p>
            <% end %>
            <p><%= t "views.cart_items.quantity" %> <%= cart_item.quantity %></p> <!-- make an option to add quantity -->
          </li>
          <% if session[:currency] == "RUB" %>
          <% total += cart_item.quantity * cart_item.product.price_rub %>
          <% else %>
          <% total += cart_item.quantity * cart_item.product.price_usd %>
          <% end %>
          <%= link_to t("views.cart_items.delete"), cart_item_path(cart_item), method: :delete %>
    <% end %>
  <% end %>
    <% if session[:currency] == "RUB" %>
    <p><b><%= t "views.cart_items.total" %> <%= number_to_currency(total, :unit => '₽') %></b></p>
    <% else %>
    <p><b><%= t "views.cart_items.total" %> <%= number_to_currency(total, :unit => '$') %></b></p>
    <% end %>
</ul>
