
  <% if @cart_items.empty? %>
  <p><%= t "views.cart_items.empty" %></p>
  <% else %>
    <%= link_to t("views.cart_items.clear"), clear_cart_cart_items_path(@cart_items) %>
  <% end %>
  <br><br><br>

  <% total = 0 %>
  <% product_total = 0 %>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <h1><%= t "views.cart_items.title" %></h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th><%= t "views.cart_items.quantity" %></th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                  <% @cart_items.each do | cart_item | %>
                    <tr>
                        <td class="col-sm-6 col-md-4">
                        <div class="media">
                          <img src="<%= image_path cart_item.product.image.url(:thumb) %>" alt="">
                            <div class="media-body">
                              <% if I18n.locale == :en %>
                                <h4 class="media-heading"><%= link_to cart_item.product.title_en, cart_item.product %></h4>
                              <% else %>
                                <h4 class="media-heading"><%= link_to cart_item.product.title_ru, cart_item.product %></h4>
                              <% end %>
                                <h5 class="media-heading"><%= link_to cart_item.category %></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div>
                        </td>
                        <td class="row col-sm-2 col-md-2">
                          <span class="part btn btn-default btn-lg" aria-hidden="true"><%= link_to quantity_increase_cart_item_path(cart_item) do %>
                            <span class="fa fa-plus" aria-hidden="true"></span>
                            <% end %>
                          </span>
                          <span class="part btn btn-default btn-lg text-center"><%= cart_item.quantity %></span>
                          <span class=" part btn btn-default btn-lg" aria-hidden="true"><%= link_to quantity_decrease_cart_item_path(cart_item), method: :delete do %>
                            <span class="fa fa-minus" aria-hidden="true"></span>
                          <% end %>
                          </span>
                        </td>
                        <% if session[:currency] == "RUB" %>
                          <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(cart_item.product.price_rub, :unit => '₽') %></strong></td>
                        <% else %>
                          <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(cart_item.product.price_usd, :unit => '$') %></strong></td>
                        <% end %>

                        <% if session[:currency] == "RUB" %>
                          <% total += cart_item.quantity * cart_item.product.price_rub %>
                          <% product_total = cart_item.quantity * cart_item.product.price_rub %>
                          <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(product_total, :unit => '₽') %></strong></td>
                        <% else %>
                          <% total += cart_item.quantity * cart_item.product.price_usd %>
                          <% product_total = cart_item.quantity * cart_item.product.price_usd %>
                          <td class="col-sm-1 col-md-1 text-center"><strong><%= number_to_currency(product_total, :unit => '$') %></strong></td>
                        <% end %>

                        <td class="col-sm-1 col-md-1">
                        <%= link_to t("views.cart_items.delete"), cart_item_path(cart_item), method: :delete, :class => "btn btn-danger btn-lg outline" %>
                        </button></td>
                    </tr>
                  <% end %>
                </tbody>
                <tfoot>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3><%= t "views.cart_items.total" %></h3></td>
                        <% if session[:currency] == "RUB" %>
                        <td class="text-right"><h3><%= number_to_currency(total, :unit => '₽') %></h3></td>
                        <% else %>
                        <td class="text-right"><h3><%= number_to_currency(total, :unit => '$') %></h3></td>
                        <% end %>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                          <%= link_to root_path, :class => "btn btn-primary outline btn-lg btn-full-width" do %>
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> <%= t("application.navbar.my_cart") %>
                          <% end %>
                        <td>
                          <%= link_to root_path, :class => "btn btn-success outline btn-lg btn-full-width" do %>
                            <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i> <%= t("views.common.add_to_cart") %>
                          <% end %>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
