<h1>Your Cart</h1>
  <% if @cart_items.empty? %>
  <p>Your cart is currently empty</p>
  <% else %>
    <%= link_to 'Clear Your Cart', clear_cart_cart_items_path(@cart_items) %> <!-- doesn't work, solve -->
  <% end %>
  <br><br><br>

  <% total = 0 %>
<ul>
  <% @cart_items.each do | cart_item | %>
    <% if cart_item.product.present? %>
          <li>
            <%= link_to cart_item.product.title, cart_item.product %>
            <p><%= number_to_currency(cart_item.product.price, :unit => '$') %></p>
            <p>Quantity: <%= cart_item.quantity %></p>
          </li>
          <% total += cart_item.quantity * cart_item.product.price %>
          <%= link_to 'Delete Item', cart_item_path(cart_item), method: :delete %>
    <% end %>
  <% end %>

    <p><b>Total: <%= number_to_currency(total, :unit => '$') %></b></p>
</ul>
